USE [db_PMS]
GO
/****** Object:  Table [dbo].[tb_Change]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Change](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[OldDept] [varchar](50) NULL,
	[NewDept] [varchar](50) NULL,
	[OldPost] [varchar](50) NULL,
	[NewPost] [varchar](50) NULL,
	[OldWages] [varchar](50) NULL,
	[NewWages] [varchar](50) NULL,
	[EditDate] [varchar](50) NULL,
	[EditContent] [varchar](200) NULL,
 CONSTRAINT [PK_tb_Change] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Department]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NULL,
	[Editer] [varchar](50) NULL,
	[EditTime] [datetime] NULL,
 CONSTRAINT [PK_tb_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Employee]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[EmployeeSex] [varchar](50) NULL,
	[EmployeeDept] [varchar](50) NULL,
	[Political] [varchar](50) NULL,
	[CardID] [varchar](50) NULL,
	[Birthday] [varchar](50) NULL,
	[FamousRace] [varchar](50) NULL,
	[Marriage] [varchar](50) NULL,
	[Post] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Education] [varchar](50) NULL,
	[Wages] [varchar](50) NULL,
	[EntryDate] [varchar](50) NULL,
	[EditTime] [datetime] NULL,
	[EmPhoto] [image] NULL,
 CONSTRAINT [PK_tb_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Evaluation]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Evaluation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[Dept] [varchar](50) NULL,
	[Contents] [varchar](200) NULL,
	[Result] [varchar](50) NULL,
	[Core] [varchar](50) NULL,
	[People] [varchar](50) NULL,
	[EvaluationDate] [varchar](50) NULL,
	[EvaluationTime] [datetime] NULL,
 CONSTRAINT [PK_tb_Evaluation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Rewards]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Rewards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[Dept] [varchar](50) NULL,
	[EmployeeJF] [varchar](50) NULL,
	[EmployeeJFContent] [varchar](100) NULL,
	[Rewards] [varchar](50) NULL,
	[Punishments] [varchar](50) NULL,
	[JFDate] [varchar](50) NULL,
	[CXDate] [varchar](50) NULL,
	[CLPeople] [varchar](50) NULL,
	[CLTime] [datetime] NULL,
 CONSTRAINT [PK_tb_Rewards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_User]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserPwd] [varchar](50) NULL,
	[LoginTime] [datetime] NULL,
	[UserRight] [varchar](50) NULL,
 CONSTRAINT [PK_tb_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Wages]    Script Date: 2020/3/2 17:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Wages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[EmployeeSex] [varchar](50) NULL,
	[Dept] [varchar](50) NULL,
	[Post] [varchar](50) NULL,
	[BaseWages] [varchar](50) NULL,
	[Rewards] [varchar](50) NULL,
	[Punishments] [varchar](50) NULL,
	[YFWages] [varchar](50) NULL,
	[Tax] [varchar](50) NULL,
	[SFWages] [varchar](50) NULL,
	[People] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_tb_Wages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Change] ON 

INSERT [dbo].[tb_Change] ([ID], [EmployeeID], [EmployeeName], [OldDept], [NewDept], [OldPost], [NewPost], [OldWages], [NewWages], [EditDate], [EditContent]) VALUES (4, N'000001', N'张三', N'技术部', N'销售部', N'技术总监', N'销售专员', N'6000', N'4500', N'2020/2/29', N'降职')
INSERT [dbo].[tb_Change] ([ID], [EmployeeID], [EmployeeName], [OldDept], [NewDept], [OldPost], [NewPost], [OldWages], [NewWages], [EditDate], [EditContent]) VALUES (5, N'000003', N'王五', N'客服部', N'技术部', N'客服组长', N'技术经理', N'4000', N'6000', N'2020/2/29', N'升职')
SET IDENTITY_INSERT [dbo].[tb_Change] OFF
SET IDENTITY_INSERT [dbo].[tb_Department] ON 

INSERT [dbo].[tb_Department] ([ID], [DeptName], [Editer], [EditTime]) VALUES (10, N'技术部', N'admin', CAST(N'2020-02-27T20:15:42.000' AS DateTime))
INSERT [dbo].[tb_Department] ([ID], [DeptName], [Editer], [EditTime]) VALUES (11, N'质检部', N'admin', CAST(N'2020-02-27T20:15:49.000' AS DateTime))
INSERT [dbo].[tb_Department] ([ID], [DeptName], [Editer], [EditTime]) VALUES (12, N'人事部', N'admin', CAST(N'2020-02-27T20:15:53.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Department] OFF
SET IDENTITY_INSERT [dbo].[tb_Employee] ON 

SET IDENTITY_INSERT [dbo].[tb_Employee] OFF
SET IDENTITY_INSERT [dbo].[tb_Evaluation] ON 

INSERT [dbo].[tb_Evaluation] ([ID], [EmployeeID], [EmployeeName], [Dept], [Contents], [Result], [Core], [People], [EvaluationDate], [EvaluationTime]) VALUES (3, N'000004', N'刘柳', N'客服部', N'纪律', N'优', N'95', N'admin', N'2020/2/28', CAST(N'2020-02-28T21:54:40.000' AS DateTime))
INSERT [dbo].[tb_Evaluation] ([ID], [EmployeeID], [EmployeeName], [Dept], [Contents], [Result], [Core], [People], [EvaluationDate], [EvaluationTime]) VALUES (4, N'000001', N'张三', N'技术部', N'纪律', N'优', N'90', N'admin', N'2020/2/28', CAST(N'2020-02-28T21:57:41.000' AS DateTime))
INSERT [dbo].[tb_Evaluation] ([ID], [EmployeeID], [EmployeeName], [Dept], [Contents], [Result], [Core], [People], [EvaluationDate], [EvaluationTime]) VALUES (8, N'000002', N'李四', N'销售部', N'卫生', N'优', N'90', N'admin', N'2020/2/18', CAST(N'2020-02-28T22:46:59.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Evaluation] OFF
SET IDENTITY_INSERT [dbo].[tb_Rewards] ON 

INSERT [dbo].[tb_Rewards] ([ID], [EmployeeID], [EmployeeName], [Dept], [EmployeeJF], [EmployeeJFContent], [Rewards], [Punishments], [JFDate], [CXDate], [CLPeople], [CLTime]) VALUES (2, N'000002', N'李四', N'销售部', N'惩罚', N'迟到扣款', N'0', N'50', N'2020/2/27', NULL, N'admin', CAST(N'2020-02-28T17:53:06.000' AS DateTime))
INSERT [dbo].[tb_Rewards] ([ID], [EmployeeID], [EmployeeName], [Dept], [EmployeeJF], [EmployeeJFContent], [Rewards], [Punishments], [JFDate], [CXDate], [CLPeople], [CLTime]) VALUES (4, N'000001', N'张三', N'技术部', N'奖励', N'全勤奖', N'500', N'0', N'2020/2/28', NULL, N'admin', CAST(N'2020-02-28T19:27:24.000' AS DateTime))
INSERT [dbo].[tb_Rewards] ([ID], [EmployeeID], [EmployeeName], [Dept], [EmployeeJF], [EmployeeJFContent], [Rewards], [Punishments], [JFDate], [CXDate], [CLPeople], [CLTime]) VALUES (11, N'000004', N'刘柳', N'客服部', N'奖励', N'全勤', N'500', N'0', N'2020/1/1', NULL, N'admin', CAST(N'2020-02-29T18:01:10.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Rewards] OFF
SET IDENTITY_INSERT [dbo].[tb_User] ON 

INSERT [dbo].[tb_User] ([ID], [UserName], [UserPwd], [LoginTime], [UserRight]) VALUES (1, N'admin', N'123', CAST(N'2020-02-29T19:01:17.000' AS DateTime), N'超级管理员')
INSERT [dbo].[tb_User] ([ID], [UserName], [UserPwd], [LoginTime], [UserRight]) VALUES (2, N'wang', N'123', CAST(N'2020-02-24T12:10:12.000' AS DateTime), N'普通用户')
INSERT [dbo].[tb_User] ([ID], [UserName], [UserPwd], [LoginTime], [UserRight]) VALUES (3, N'zhang', N'123', CAST(N'2020-02-28T22:56:29.000' AS DateTime), N'普通用户')
SET IDENTITY_INSERT [dbo].[tb_User] OFF
SET IDENTITY_INSERT [dbo].[tb_Wages] ON 

INSERT [dbo].[tb_Wages] ([ID], [EmployeeID], [EmployeeName], [EmployeeSex], [Dept], [Post], [BaseWages], [Rewards], [Punishments], [YFWages], [Tax], [SFWages], [People], [Date], [DateTime]) VALUES (3, N'000001', N'张三', N'男', N'销售部', N'销售专员', N'4500', N'500', N'0', N'5000', N'170', N'4830', N'admin', N'2', CAST(N'2020-02-29T18:00:00.000' AS DateTime))
INSERT [dbo].[tb_Wages] ([ID], [EmployeeID], [EmployeeName], [EmployeeSex], [Dept], [Post], [BaseWages], [Rewards], [Punishments], [YFWages], [Tax], [SFWages], [People], [Date], [DateTime]) VALUES (4, N'000004', N'刘柳', N'男', N'客服部', N'客服专员', N'3000', N'500', N'0', N'3500', N'95', N'3405', N'admin', N'1', CAST(N'2020-02-29T18:01:40.000' AS DateTime))
INSERT [dbo].[tb_Wages] ([ID], [EmployeeID], [EmployeeName], [EmployeeSex], [Dept], [Post], [BaseWages], [Rewards], [Punishments], [YFWages], [Tax], [SFWages], [People], [Date], [DateTime]) VALUES (5, N'000004', N'刘柳', N'男', N'客服部', N'客服专员', N'3000', N'0', N'0', N'3000', N'70', N'2930', N'admin', N'2', CAST(N'2020-02-29T18:01:53.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Wages] OFF
